body {
    margin: 0;
}

a {
  text-decoration: none;
}

.sighting-google-map-container > div {
  height: calc(100% - 64px) !important;
}

@media (min-width: 600px) {
    .sighting-google-map-container > div {
        width: calc(100% - 240px) !important;
        height: calc(100% - 64px) !important;
    }
}

#disqus_thread {
    width: 89% !important;
    margin: 0 auto;
}

#disqus_thread a,
.comments .nav ul li a,
.comments .nav ul li div a
{
    color: #7986cb
}

.sighting-list {
    height: calc(50vh - 64px);
    overflow-y: scroll;

}

@media (min-width: 960px) {

    .sighting-container {
        height: calc(100vh - 64px);
    }

    .sighting-list {
        height: calc(100vh - 64px);
        overflow-y: scroll;
    }

    .sighting-details {
        height: calc(100vh - 64px);
        overflow-y: scroll;
    }

    .report-google-map-container > div {
      height: calc(100% - 64px) !important;
      width: calc(100% - 50% - 120px) !important;
    }

    .sighting-detail-google-map-container > div {
      height: 300px !important;
    }
}

.sighting-details-content {
    width: 89%;
    margin: 0 auto 0 auto;
}

.sighting-detail-google-map-container > div {
    width: 100% !important;
    height: 300px !important;
}

.contact-form {
    max-width: 100%;
    overflow: hidden;
}