body {
    margin: 0;
}

@media (min-width: 600px) {
    .sighting-google-map-container > div {
        width: calc(100% - 240px) !important;
        height: calc(100% - 64px) !important;
    }
}

@media (min-width: 960px) {
    .report-google-map-container > div {
        width: calc(100% - 50% - 120px) !important;
    }
}

#disqus_thread {
    width: 99% !important;
}

.sighting-details {
    margin-top: 330px;
}

.sighting-detail-google-map-container > div {
    width: calc(100% - 50% - 120px) !important;
    height: 50% !important;
}