body {
    margin: 0;
}

.report-google-map-container > div {
    width: 50% !important;
}

@media (min-width: 960px) {
    .sighting-google-map-container > div {
        width: calc(100% - 241px) !important;
    }
}