body {
    margin: 0;
}

@media (min-width: 600px) {
    .sighting-google-map-container > div {
        width: calc(100% - 240px) !important;
        height: calc(100% - 64px) !important;
    }
}

@media (min-width: 960px) {
    .report-google-map-container > div {
        width: calc(100% - 50% - 120px) !important;
    }
}

#disqus_thread {
    width: 89% !important;
    margin: 0 auto;
}

.sighting-list {
    height: calc(50vh - 64px);
    overflow-y: scroll;
}

@media (min-width: 960px) {
    .sighting-list {
        height: calc(100vh - 64px);
        overflow-y: scroll;
    }
}

.sighting-details-content {
    width: 89%;
    margin: 330px auto 0 auto;
}

.sighting-detail-google-map-container > div {
    width: 100% !important;
    height: 300px !important;
}

.contact-form {
    max-width: 100%;
    overflow: hidden;
}

@media (min-width: 960px) {
    .sighting-detail-google-map-container > div {
        width: calc(100% - 50% - 120px) !important;
        height: 300px !important;
    }
}